*.o
*.lo
*.la
.DS_Store
.deps
.libs
Makefile
test/testmain
src/command_line/CommandLine
autom4te.cache
config.h
stamp-h1
config.log
config.status
include/duckdb/*
*~
test/testparser
test/testupana
test/testanalysis
.settings
test/testtranslate
test/testserializer
test/testvisit
test/testpicsrewrite
test/testrewriter
Makefile.in
aclocal.m4
config.h.in
config/
configure
libtool
m4/
debug.script
debug.txt
GPexamples/
blackboxtests/depcache/
javabin/
jdbcbuild/
depcache
build
autotests
valgrind.txt
src/command_line/gprom
doc/gprom_man.html
.gprom
scripts/.gitignore
/Debug/
test/test-suite.log
test/testmain.log
test/testmain.trs
test/testrpq
gprom-*.tar.gz
gprom-*.tar
gprom*.deb
test-suite.log
dpkg
#*
.#*
test/testexprcplex
/Release
/test/testuncert
log_*.log
GPATH
GRTAGS
GTAGS
.ccls-cache
/src/.project
.cache
