{% extends "layout.html" %}
{% block content %}
{% include "queryactions.html" %}
<div class="container">
<div class="left">
    <h2>Help</h2>
    <p>* Please follow one of the options below to start PUG:</p> 
    <p style="margin-left: 10px">1) Enter a Datalog query (e.g, Q(X) :- R(X,Y)) and provenance request (e.g., WHY(Q(1))).</p>
    <p style="margin-left: 10px">2) Select a past query from the dropdown.</p>
    <p>* The PUG tutorials can be found <a href="https://github.com/IITDBGroup/gprom/wiki/datalog_prov" target="_blank"><u>here</u></a>.</p>
</div>
<div class="right">
	<h2>Database Overview</h2>
    <p> {{ queryResult|safe }} </p>
</div>
</div>
{% endblock %}

