.DS_Store
.vscode
.misc

# Test suite files to ignore
database.ini
experimentRunner/data/
c_extension/experimentRunner/data/

# https://github.com/github/gitignore/blob/main/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo


# python stuff
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class