activation.jar
geronimo-jms_1.1_spec.jar
hamcrest-core.jar
hsqldb.jar
javaee-api.jar
jna-platform.jar
jna.jar
jnaerator-runtime.jar
junit.jar
mail.jar
mysql-connector-java.jar
ochafik-util.jar
postgresql.jar
sqlite-jdbc.jarxercesImpl.jar
xml-apis.jar
sqlite-jdbc.jar
xercesImpl.jar
xml-apis.jar
xml-resolver.jar
slf4j-api.jar
slf4j-simple.jar
log4j.jar