activation.jar
geronimo-jms_1.1_spec.jar
hamcrest-core.jar
hsqldb.jar
javaee-api.jar
jna-platform.jar
jna.jar
jnaerator-runtime.jar
junit.jar
mail.jar
mysql-connector-java.jar
ochafik-util.jar
postgresql.jar
sqlite-jdbc.jarxercesImpl.jar
xml-apis.jar
sqlite-jdbc.jar
xercesImpl.jar
xml-apis.jar
xml-resolver.jar
slf4j-api.jar
slf4j-simple.jar
log4j.jar
dms.jar
log4j.jar
ojdbc7_g.jar
stringtemplate.jar
ST4.jar
anarres-jnaerator.jar
android.jar
asm.jar
cglib.jar
commons-collections.jar
commons-compress.jar
commons-csv.jar
disruptor.jar
dx.jar
ecj.jar
jansi.jar
java-getopt.jar
javax.mail.jar
javax.persistence.jar
jboss-jms-api_1.1_spec.jar
jcommander.jar
jctools-core.jar
jeromq.jar
jnaerator-parser.jar
jnaerator-rococoa-runtime.jar
jnaerator.jar
kafka-clients.jar
log4j-api.jar
log4j-core.jar
lz4.jar
ochafik-swing.jar
org.osgi.core.jar
rococoa-core.jar
